<ng-container *ngIf="detail$ | async as data">

  <div class="detail-container">

    <!-- Article Card -->
    <mat-card class="article-card">

      <h2 class="article-title">
        {{ data.article.title }}
      </h2>

      <p class="article-content">
        {{ data.article.content }}
      </p>

      <!-- Like Count -->
      <!-- <p class="like-count">
        Total Likes: {{ data.likes.likesCount }}
      </p> -->

      <!-- Like Component -->
      <div class="like-section">

        <app-like
          [articleId]="data.article.id">
        </app-like>

      </div>

    </mat-card>

    <!-- Lazy Comments -->
    @defer (on idle) {

      <mat-card class="comment-section">

        <app-comment
          [articleId]="data.article.id">
        </app-comment>

      </mat-card>

    } @placeholder {

      <mat-card class="comment-section">

        <p>Loading comments...</p>

      </mat-card>

    }

  </div>

</ng-container>